body {
  background-color: #e2e8b7;
}
/* #content {
  margin-top: 10%;
} */
#sampleContainer {
  text-align: center;
  margin: auto 0;
  /* margin-top: 40px; */
  /*    background-color: antiquewhite;*/
}

#sampleContainer li {
  margin: 0 auto;
}

.sample {
  border-radius: 50%;
  width: 17vh;
  height: 17vh;
  list-style: none;
  margin: 2%;
  display: inline-grid;
  background-repeat: no-repeat;
}

.sample > p {
  margin: 0 auto;
  text-align: center;
  line-height: 8;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5vh;
  color: white;
}

#dropbox {
  border: dashed 2px grey;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  margin: 0 auto;
}

#con {
  margin: 0 auto;
  border-radius: 50%;
  width: 22vh;
  height: 22vh;
  text-align: center;
  margin-top: 8vh;
}

#con p {
  position: absolute;
  font-family: "Luckiest Guy", cursive;
  font-size: 4vh;
  color: white;
  text-shadow: 2px 2px grey;
  z-index: 150;
}

#description {
  z-index: 150;
  background-color: rgba(3, 3, 3, 0.3);
  height: 100%;
  width: 100%;
  /* margin: -50px; */
  /* margin-top: -10%; */
  position: absolute;
  /* display: none; */
}

#description img {
  position: fixed;
  width: 10vh;
  height: 10vh;
  /* margin-left: 400px;
  margin-top: 180px; */
}
