body {
  background-color: #e2e8b7;
}
ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 40%;
  top: 20%;
}
ul li {
  list-style: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform-origin: bottom center;
  animation: animate 7s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
ul li:nth-child(1) {
  background: rgba(252, 195, 194, 0.8);
  animation-delay: 0s;
}
ul li:nth-child(2) {
  background: rgba(252, 208, 161, 0.8);
  animation-delay: 1s;
}
ul li:nth-child(3) {
  background: rgba(221, 242, 112, 0.8);
  animation-delay: 2s;
}
ul li:nth-child(4) {
  background: rgba(161, 205, 168, 0.8);
  animation-delay: 3s;
}
ul li:nth-child(5) {
  background: rgba(197, 231, 226, 0.8);
  animation-delay: 4s;
}
ul li:nth-child(6) {
  background: rgba(169, 178, 247, 0.8);
  animation-delay: 5s;
}
ul li:nth-child(7) {
  background: rgba(173, 155, 170, 0.8);
  animation-delay: 6s;
}
ul li:nth-child(8) {
  background: rgba(252, 195, 194, 0.8);
  animation-delay: 7s;
}
